@charset "utf-8";
/* CSS Document */
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }

.ui-widget-content { /*border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333;*/ }

.ui-widget { /*font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em;*/ }

.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.ui-widget-header { border: 0px solid #e78f08; /*background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;*/ color: #ffffff; font-weight: bold; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 0px solid #cccccc;
	font-family: 'myriadpro-semibold';
	font-weight: normal;
	color: #000;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #000;
	text-decoration: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	border: 0px solid #fbcb09;
	background: #fdf5ce;
	font-weight: bold;
	color: #c77405;
}

.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 0px solid #fbd850;
	background: #ffffff;
	font-weight: normal;
	color: #eb8f00;
	font-family: 'MyriadProBold';
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #06929e; text-decoration: none; font-family: 'MyriadProBold'; }
.ui-widget :active { outline: none; }



.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.ui-tabs {
	position: relative;
	padding: 0em;
	zoom: 1;
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0em 0em 0;
	position:relative;
	z-index:1;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 2.65px 1px 0;
	border-bottom: 0 !important;
	padding: 0;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li.last {
	margin: 0 0px 1px 0;
}

#tab .ui-tabs .ui-tabs-nav li {
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding:0 0 0 6px;
	text-decoration: none;
	background:url(../images/tab_left.png) left top no-repeat;
	height:29px;
	line-height:29px;
}

.ui-tabs .ui-tabs-nav li a span{
	float: left;
	padding:0 10px 0 0px;
	text-decoration: none;
	background:url(../images/tab_right.png) right top no-repeat;
	height:29px;
	line-height:29px;
	text-align:center;
	font-size:13px;
}

.tab_container #tabs .ui-tabs-nav li.ui-state-default a span{
	width:138.7px !important;
}

#tabs_01 .ui-tabs-nav li a span{
	width:191px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 0px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
	background:url(../images/tab_left_ov.png) left top no-repeat;
	padding-bottom:1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a span, .ui-tabs .ui-tabs-nav li.ui-state-disabled a span, .ui-tabs .ui-tabs-nav li.ui-state-processing a span{
	background:url(../images/tab_right_ov.png) right top no-repeat;
	padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 14px 12px 10px 17px;
	background: url(../images/block_gredient.jpg) left top repeat-x;
	min-height:150px;
}
.ui-tabs .ui-tabs-hide { display: none !important; }

#webinartabs .ui-tabs-nav {
}

#webinartabs .ui-tabs-panel{
	background:none !important;
	padding:0 !important;
}

#webinartabs .ui-tabs-nav li {
	margin:0 4px 4px 0 !important;
	top:0 !important;
}

#webinartabs .ui-state-active, #webinartabs .ui-widget-content .ui-state-active, #webinartabs .ui-widget-header .ui-state-active {
	background:#fd9001 url(../images/arrow-down-white.png) no-repeat 95% center;
	color:#FFFFFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	border:0px;
	font-family: 'MyriadProRegular';
    font-weight: normal;
}

#webinartabs .ui-tabs-nav li a {
	padding:0 0 0 20px;
	font-size: 18px;
	color:#02636b;
	text-decoration:none;
	display:block;
	height: 33px;
	line-height:33px;
	font-family: 'MyriadProRegular';
    font-weight: normal;
	background:none;
	float:none;
}

#webinartabs .ui-tabs-nav li a:hover {
	color:#FFF;
	text-decoration:none;
}

#webinartabs .ui-tabs-nav li.ui-tabs-selected a, #webinartabs .ui-tabs-nav li.ui-state-disabled a, #webinartabs .ui-tabs-nav li.ui-state-processing a {
	padding:0 0 0 20px;
	font-size: 18px;
	color:#02636b;
	text-decoration:none;
	display:block;
	background:none;
	color:#FFFFFF;
}